@model NOAAMovieStoreAssignment.ViewModels.CustomerOrder

<tr>
    <td>
        @ViewData["OrderNr"]
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Total)
    </td>
    <td>
            @foreach (var m in @Model.Movies)
            {
                <div>@m.Title</div>
            }
    </td>
</tr>
